@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    padding: 10px;;
    text-align:center;    
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 0.875em;
}

div#profile{
    margin: auto;
    padding: 10px; 
}

nav#main{
    margin: auto;
    padding: 10px;
    font-size: 125%;
    text-transform: uppercase; 
}

img#avatar {
    margin: auto;
    padding: 10px;
	border-radius: 50%;
}

h1{
    color: #7f8c8d; 
    margin: auto;
    font-weight: normal;
    font-size: 2.5em;
    padding: 10px;
}

h2{
    color: #bdc3c7;
    font-size: 1.875em; 
}

a {
    text-decoration: none;
    color: #212121;
    transition: all 0.2s linear;
}
    
a:hover, a:focus {
    color: #B22222;
}

@media only screen and (max-width: 768px) {
    
}