@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    padding: 10px;
    text-align:center;    
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
    display: block;
    width: 768px;
}

 p{
    padding: 0px; 
    text-align: justify;
} 

 p#subtitle{
    font-size: 1.0em;
    margin: auto;
    text-align: center;
} 

div#profile{
    margin: auto;
    padding: 0; 
}

div#main{
    margin: auto;
    padding: 10px;
    font-size: 100%;
    text-transform: uppercase;
    word-spacing: 10px; 
}

.group {
    /* border: 1px solid red; */
    margin: auto;
    padding: 0px;
}

img#avatar {
    margin: auto;
    padding: 10px;
    border-radius: 50%;
}

.social {
    margin: auto;
    padding: 10px;
    word-spacing: 10px;
}

h1{
    margin: auto;
    font-weight: normal;
    padding: 0px;
    font-family: 'Lobster', cursive;
}

h2{ 
    font-family: 'Lobster', cursive;
    padding: 0px;
    margin: auto;
}

h3{ 
    padding: 0px;
    margin: 0 auto;
}

h4{
    padding: 0px;
    margin: 0 auto;
    font-weight: normal;
}

.topnav .icon {
    display: none;
}

a {
    text-decoration: none;
    color: #212121;
    transition: all 0.2s linear;
}
    
a:hover, a:focus {
    color: #B22222;
}

a:hover#mail {
    color: #e74c3c;
}

a:hover#fb {
    color: #3B5998;
}

a:hover#twitter {
    color: #00aced;
}

a:hover#github {
    color: #767676;
}

a:hover#linkedin {
    color: #0077B5;
}

.top{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 10px;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-gap: 10px;
  margin: 0 auto;
  width: 560px;
  padding-top: 10px;
}

.section {
    text-align: left;
    padding: 0px;
    margin: auto;
}

.container {
    margin: 0 auto;
    padding: 0px;
}

li {
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
}

@media only screen and (max-width: 768px) {

    body{
        width: 100%;
        margin: auto;
        padding: 0px;
    }

    .wrapper {
        display: inline-block;
        width: 90%;
    }

    .container{
        text-align: center;
    }

    .section {
        width: 90%;
        margin: auto;
        padding-top: 10px;
}

    hr{
        padding: 0px;
        width: 90%;
    }

    /* p{
        padding: 0px;
        margin: 0 auto;
        width: 100%;
    } */

    h1{
      font-size: 1.5em;
    }

    h2{
      font-size: 1.2em;
    }

    h3{
      font-size: 1.0em;
    }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}